@charset "UTF-8";
*,::after,::before{
    box-sizing:border-box
}
a{
    text-decoration: none;
    cursor: pointer;
}
body{
    margin:0;
    font-size: 16px;
    font-weight:400;
    line-height:1.5;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent
}
html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: overlay;
}
@media (prefers-reduced-motion:no-preference){
    :root{
        scroll-behavior:smooth
    }
}
[role=button],[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled),summary{
    cursor:pointer
}
img,svg{
    vertical-align:middle
}
button,input{
    margin:0;
    outline: none;
    font-size:inherit;
    line-height:inherit
}

:root{
    --accent: #1aa8ff;

    --dark-darker: #1A1A1A;
    --dark-default: #212121;
    --dark-1: #262626;
    --dark-2: #2B2B2B;
    --dark-3: #303030;
    --dark-4: #353535;
    --dark-5: #3F3F3F;

    --light-1: #F0F0F0;
    --light-2: #E0E0E0;
    --light-3: #CCCCCC;
    --light-4: #B3B3B3;
    --light-5: #949494;
}

svg:hover{
    fill: #1aa8ff;
}